Intermediate/
Saved/
Binaries/
DerivedDataCache/
Build/

Plugins/*/Intermediate/
Plugins/*/Binaries/

*_BuiltData.uasset

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

*.sln
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace

*.obj
*.o
*.so
*.a
*.lib
*.dll
*.exe
*.app
*.dylib
*.ipa
*.out

*.log
*.tmp
*.bak
*.orig
*.swp
*.cache

.DS_Store

SourceArt/**/*.png
SourceArt/**/*.tga

!Build/**/PakBlacklist*.txt
!Build/**/*.ico
